@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.greeting{
    color: #000;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(247, 110, 133);
    font-family: 'Caveat', cursive;
    padding: 10px;
}