@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.logo{
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
}
.navbar{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.link-nav{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}
.link-nav:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.705);
}